
/* set variables */
@define-color background #9E0B11;
@define-color foreground #ffffff;
@define-color color0 #2c3e50;
@define-color color1 #e74c3c;
@define-color color2 #2ecc71;
@define-color color3 #f1c40f;
@define-color color4 #3498db;
@define-color color5 #9b59b6;
@define-color color6 #1abc9c;
@define-color color7 #ecf0f1;
@define-color color8 #95a5a6;
@define-color color9 #f39c12;

@define-color black #060821;
@define-color ultrablack #000000;
@define-color white #e9eaee;
@define-color red #9e0b11;
@define-color redaccent #d80007;


* {
    font-size:12px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
    margin:5px;
    background-color: alpha(@ultrablack,0.7);
    border-radius:8px;
}
.modules-center {
    padding:5px;
    margin:5px;
    border-radius:5px;
}