@use "sass:color";

$black: #060821;
$black2: #000000;
$red: #9e0b11;
$white: #e9eaee;
$focus: #313131;
$radius: 0px;

window.Bar {
    box-shadow: none;
    background-color: $black2;
    color: $white;
    font-size: 0.8em;
    min-height: 80px;

    label {
        margin: 0 8px;
    }
}

button {
    padding:0px 5px;
    border-radius: $radius;
    background-color: $black2;
    background: $black2;
    border: none;
    color: $black2;
}

button:hover {
    background-color: $focus;
}
.statusIcon {
    margin-right: 7px;
}