@use "sass:color";

$black: #000000;
$red: #9e0b11;
$white: #e9eaee;
$focus: #313244;
$radius: 0px;

$background: #1e1e2e;
$text: #cdd6f4;

.Workspaces {
    background-color: $background;
    color: $text;
}

.focused {
    background-color: $focus;
    color: $text;
}

.not-focused {
    background-color: $background;
    color: $text;
}

window.Bar {
    box-shadow: none;
    background-color: $background;
    color: $text;
    font-size: 0.8em;
    min-height: 80px;

    label {
        margin: 0 8px;
    }
}

button {
    padding:0px 5px;
    border-radius: $radius;
    background-color: $background;
    background: $background;
    border: none;
}

button:hover {
    background-color: $focus;
}
.statusIcon {
    margin-right: 7px;
}